@use "core/breakpoints" as bp;

.copyright {
    display: flex;
    gap: 16px 40px;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--color-light-grey, #d9d9d9);

    @include bp.mq(tablet-xl) {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    a {
        color: var(--color-light-grey, #d9d9d9);
        text-decoration: none;
        transition: opacity 0.3s ease;

        &:hover {
            color: var(--color-light-grey, #d9d9d9);
            text-decoration: none;
            opacity: 0.8;
        }
    }

    .developer {
        display: inline-flex;
        gap: 8px;
        align-items: center;

        svg {
            display: block;
            flex-shrink: 0;
        }
    }
}
