{# blocks/common/certificates/certificates.njk #}
<section class="certificates section">
    <div class="container">
        <div class="certificates__top">
            <h2 class="certificates__title">Сертификаты</h2>
            <p class="certificates__subtitle">Подтверждённое качество и соответствие стандартам.</p>
        </div>

        <div class="certificates__slider-wrapper">
            <div class="certificates__slider">
                <!-- Сертификат 1 -->
                <div class="certificates__item">
                    <a
                        href="/assets/images/content/cert-1.jpg"
                        data-fancybox="certificates"
                        class="certificates__link"
                    >
                        <div class="certificates__image">
                            <img class="lazy" data-src="/assets/images/content/cert-1.jpg" alt="Сертификат 1" />
                            <div class="certificates__overlay"></div>
                        </div>
                        <div class="certificates__icon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="105"
                                height="100"
                                viewBox="0 0 105 100"
                                fill="none"
                            >
                                <rect
                                    x="73.6719"
                                    y="75.7148"
                                    width="9.823"
                                    height="34.3805"
                                    transform="rotate(-45.058 73.6719 75.7148)"
                                    fill="white"
                                    fill-opacity="0.5"
                                />
                                <circle
                                    cx="46.0453"
                                    cy="46.0453"
                                    r="42.9756"
                                    stroke="white"
                                    stroke-opacity="0.5"
                                    stroke-width="6.13937"
                                />
                                <path
                                    d="M42.343 60.6346C42.343 58.7375 42.343 56.9049 42.343 55.1368C42.343 53.3686 42.343 51.7018 42.343 50.1363V43.3123C42.343 41.7468 42.343 40.08 42.343 38.3118C42.343 36.5437 42.343 34.7111 42.343 32.814H49.6918C49.6918 34.7111 49.6918 36.5437 49.6918 38.3118C49.6918 40.08 49.6918 41.7468 49.6918 43.3123V50.1363C49.6918 51.7018 49.6918 53.3686 49.6918 55.1368C49.6918 56.9049 49.6918 58.7375 49.6918 60.6346H42.343ZM32.3143 50.302V43.1466C34.2114 43.1466 36.044 43.1466 37.8122 43.1466C39.5803 43.1466 41.2379 43.1466 42.7851 43.1466H49.2222C50.7877 43.1466 52.4546 43.1466 54.2227 43.1466C55.9908 43.1466 57.8234 43.1466 59.7205 43.1466V50.302C57.8234 50.302 55.9908 50.302 54.2227 50.302C52.4546 50.302 50.7877 50.302 49.2222 50.302H42.7851C41.2379 50.302 39.5803 50.302 37.8122 50.302C36.044 50.302 34.2114 50.302 32.3143 50.302Z"
                                    fill="white"
                                    fill-opacity="0.5"
                                />
                            </svg>
                        </div>
                    </a>
                    <div class="certificates__caption">Сертификат соответствия №1</div>
                </div>
                <!-- Сертификат 2 -->
                <div class="certificates__item">
                    <a
                        href="/assets/images/content/cert-1.jpg"
                        data-fancybox="certificates"
                        class="certificates__link"
                    >
                        <div class="certificates__image">
                            <img class="lazy" data-src="/assets/images/content/cert-1.jpg" alt="Сертификат 2" />
                            <div class="certificates__overlay"></div>
                        </div>
                        <div class="certificates__icon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="105"
                                height="100"
                                viewBox="0 0 105 100"
                                fill="none"
                            >
                                <rect
                                    x="73.6719"
                                    y="75.7148"
                                    width="9.823"
                                    height="34.3805"
                                    transform="rotate(-45.058 73.6719 75.7148)"
                                    fill="white"
                                    fill-opacity="0.5"
                                />
                                <circle
                                    cx="46.0453"
                                    cy="46.0453"
                                    r="42.9756"
                                    stroke="white"
                                    stroke-opacity="0.5"
                                    stroke-width="6.13937"
                                />
                                <path
                                    d="M42.343 60.6346C42.343 58.7375 42.343 56.9049 42.343 55.1368C42.343 53.3686 42.343 51.7018 42.343 50.1363V43.3123C42.343 41.7468 42.343 40.08 42.343 38.3118C42.343 36.5437 42.343 34.7111 42.343 32.814H49.6918C49.6918 34.7111 49.6918 36.5437 49.6918 38.3118C49.6918 40.08 49.6918 41.7468 49.6918 43.3123V50.1363C49.6918 51.7018 49.6918 53.3686 49.6918 55.1368C49.6918 56.9049 49.6918 58.7375 49.6918 60.6346H42.343ZM32.3143 50.302V43.1466C34.2114 43.1466 36.044 43.1466 37.8122 43.1466C39.5803 43.1466 41.2379 43.1466 42.7851 43.1466H49.2222C50.7877 43.1466 52.4546 43.1466 54.2227 43.1466C55.9908 43.1466 57.8234 43.1466 59.7205 43.1466V50.302C57.8234 50.302 55.9908 50.302 54.2227 50.302C52.4546 50.302 50.7877 50.302 49.2222 50.302H42.7851C41.2379 50.302 39.5803 50.302 37.8122 50.302C36.044 50.302 34.2114 50.302 32.3143 50.302Z"
                                    fill="white"
                                    fill-opacity="0.5"
                                />
                            </svg>
                        </div>
                    </a>
                    <div class="certificates__caption">Сертификат соответствия №2</div>
                </div>
                <!-- Сертификат 3 -->
                <div class="certificates__item">
                    <a
                        href="/assets/images/content/cert-1.jpg"
                        data-fancybox="certificates"
                        class="certificates__link"
                    >
                        <div class="certificates__image">
                            <img class="lazy" data-src="/assets/images/content/cert-1.jpg" alt="Сертификат 3" />
                            <div class="certificates__overlay"></div>
                        </div>
                        <div class="certificates__icon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="105"
                                height="100"
                                viewBox="0 0 105 100"
                                fill="none"
                            >
                                <rect
                                    x="73.6719"
                                    y="75.7148"
                                    width="9.823"
                                    height="34.3805"
                                    transform="rotate(-45.058 73.6719 75.7148)"
                                    fill="white"
                                    fill-opacity="0.5"
                                />
                                <circle
                                    cx="46.0453"
                                    cy="46.0453"
                                    r="42.9756"
                                    stroke="white"
                                    stroke-opacity="0.5"
                                    stroke-width="6.13937"
                                />
                                <path
                                    d="M42.343 60.6346C42.343 58.7375 42.343 56.9049 42.343 55.1368C42.343 53.3686 42.343 51.7018 42.343 50.1363V43.3123C42.343 41.7468 42.343 40.08 42.343 38.3118C42.343 36.5437 42.343 34.7111 42.343 32.814H49.6918C49.6918 34.7111 49.6918 36.5437 49.6918 38.3118C49.6918 40.08 49.6918 41.7468 49.6918 43.3123V50.1363C49.6918 51.7018 49.6918 53.3686 49.6918 55.1368C49.6918 56.9049 49.6918 58.7375 49.6918 60.6346H42.343ZM32.3143 50.302V43.1466C34.2114 43.1466 36.044 43.1466 37.8122 43.1466C39.5803 43.1466 41.2379 43.1466 42.7851 43.1466H49.2222C50.7877 43.1466 52.4546 43.1466 54.2227 43.1466C55.9908 43.1466 57.8234 43.1466 59.7205 43.1466V50.302C57.8234 50.302 55.9908 50.302 54.2227 50.302C52.4546 50.302 50.7877 50.302 49.2222 50.302H42.7851C41.2379 50.302 39.5803 50.302 37.8122 50.302C36.044 50.302 34.2114 50.302 32.3143 50.302Z"
                                    fill="white"
                                    fill-opacity="0.5"
                                />
                            </svg>
                        </div>
                    </a>
                    <div class="certificates__caption">Сертификат соответствия №3</div>
                </div>
                <!-- Сертификат 4 -->
                <div class="certificates__item">
                    <a
                        href="/assets/images/content/cert-1.jpg"
                        data-fancybox="certificates"
                        class="certificates__link"
                    >
                        <div class="certificates__image">
                            <img class="lazy" data-src="/assets/images/content/cert-1.jpg" alt="Сертификат 4" />
                            <div class="certificates__overlay"></div>
                        </div>
                        <div class="certificates__icon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="105"
                                height="100"
                                viewBox="0 0 105 100"
                                fill="none"
                            >
                                <rect
                                    x="73.6719"
                                    y="75.7148"
                                    width="9.823"
                                    height="34.3805"
                                    transform="rotate(-45.058 73.6719 75.7148)"
                                    fill="white"
                                    fill-opacity="0.5"
                                />
                                <circle
                                    cx="46.0453"
                                    cy="46.0453"
                                    r="42.9756"
                                    stroke="white"
                                    stroke-opacity="0.5"
                                    stroke-width="6.13937"
                                />
                                <path
                                    d="M42.343 60.6346C42.343 58.7375 42.343 56.9049 42.343 55.1368C42.343 53.3686 42.343 51.7018 42.343 50.1363V43.3123C42.343 41.7468 42.343 40.08 42.343 38.3118C42.343 36.5437 42.343 34.7111 42.343 32.814H49.6918C49.6918 34.7111 49.6918 36.5437 49.6918 38.3118C49.6918 40.08 49.6918 41.7468 49.6918 43.3123V50.1363C49.6918 51.7018 49.6918 53.3686 49.6918 55.1368C49.6918 56.9049 49.6918 58.7375 49.6918 60.6346H42.343ZM32.3143 50.302V43.1466C34.2114 43.1466 36.044 43.1466 37.8122 43.1466C39.5803 43.1466 41.2379 43.1466 42.7851 43.1466H49.2222C50.7877 43.1466 52.4546 43.1466 54.2227 43.1466C55.9908 43.1466 57.8234 43.1466 59.7205 43.1466V50.302C57.8234 50.302 55.9908 50.302 54.2227 50.302C52.4546 50.302 50.7877 50.302 49.2222 50.302H42.7851C41.2379 50.302 39.5803 50.302 37.8122 50.302C36.044 50.302 34.2114 50.302 32.3143 50.302Z"
                                    fill="white"
                                    fill-opacity="0.5"
                                />
                            </svg>
                        </div>
                    </a>
                    <div class="certificates__caption">Сертификат соответствия №4</div>
                </div>
                <!-- Сертификат 5 -->
                <div class="certificates__item">
                    <a
                        href="/assets/images/content/cert-1.jpg"
                        data-fancybox="certificates"
                        class="certificates__link"
                    >
                        <div class="certificates__image">
                            <img class="lazy" data-src="/assets/images/content/cert-1.jpg" alt="Сертификат 5" />
                            <div class="certificates__overlay"></div>
                        </div>
                        <div class="certificates__icon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="105"
                                height="100"
                                viewBox="0 0 105 100"
                                fill="none"
                            >
                                <rect
                                    x="73.6719"
                                    y="75.7148"
                                    width="9.823"
                                    height="34.3805"
                                    transform="rotate(-45.058 73.6719 75.7148)"
                                    fill="white"
                                    fill-opacity="0.5"
                                />
                                <circle
                                    cx="46.0453"
                                    cy="46.0453"
                                    r="42.9756"
                                    stroke="white"
                                    stroke-opacity="0.5"
                                    stroke-width="6.13937"
                                />
                                <path
                                    d="M42.343 60.6346C42.343 58.7375 42.343 56.9049 42.343 55.1368C42.343 53.3686 42.343 51.7018 42.343 50.1363V43.3123C42.343 41.7468 42.343 40.08 42.343 38.3118C42.343 36.5437 42.343 34.7111 42.343 32.814H49.6918C49.6918 34.7111 49.6918 36.5437 49.6918 38.3118C49.6918 40.08 49.6918 41.7468 49.6918 43.3123V50.1363C49.6918 51.7018 49.6918 53.3686 49.6918 55.1368C49.6918 56.9049 49.6918 58.7375 49.6918 60.6346H42.343ZM32.3143 50.302V43.1466C34.2114 43.1466 36.044 43.1466 37.8122 43.1466C39.5803 43.1466 41.2379 43.1466 42.7851 43.1466H49.2222C50.7877 43.1466 52.4546 43.1466 54.2227 43.1466C55.9908 43.1466 57.8234 43.1466 59.7205 43.1466V50.302C57.8234 50.302 55.9908 50.302 54.2227 50.302C52.4546 50.302 50.7877 50.302 49.2222 50.302H42.7851C41.2379 50.302 39.5803 50.302 37.8122 50.302C36.044 50.302 34.2114 50.302 32.3143 50.302Z"
                                    fill="white"
                                    fill-opacity="0.5"
                                />
                            </svg>
                        </div>
                    </a>
                    <div class="certificates__caption">Сертификат соответствия №5</div>
                </div>
            </div>
        </div>
    </div>
</section>