@use "core/breakpoints" as bp;

.text-footer {
    max-width: 310px;
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--txt-secondary, #fff7f2);
    margin-top: -10px;
}
