<section class="directions">
    <div class="container">
        <div class="intro">
            <h2 class="title">Статор-Сервис</h2>
            <p class="text">
                Собственное производство, все работы мы проводим сами, без посредников, с гарантией качества и успевая
                точно в срок!
            </p>
        </div>

        <div class="cards">
            <article class="card">
                <div class="visual">
                    <a class="image" href="/uslugi/remont-elektrodvigateley/">
                        <img
                            class="lazy"
                            data-src="/assets/images/content/directions-repair.png"
                            alt="Ремонт промышленного оборудования"
                            width="528"
                            height="213"
                        />
                    </a>
                    <img
                        class="watermark"
                        src="/assets/images/content/stator-watermark.svg"
                        alt=""
                        width="527"
                        height="108"
                        aria-hidden="true"
                    />
                </div>
                <h3 class="name"><a href="/uslugi/remont-elektrodvigateley/">Ремонт</a></h3>
                <p class="caption">промышленного оборудования</p>
                <div class="tags">
                    <a href="/uslugi/remont-elektrodvigateley/">Электродвигатели</a>
                    <a href="/uslugi/">Насосы</a>
                    <a href="/uslugi/">Бензогенераторы</a>
                    <a href="/uslugi/">Вентиляторы</a>
                </div>
            </article>

            <article class="card">
                <div class="visual">
                    <a class="image" href="/uslugi/">
                        <img
                            class="lazy"
                            data-src="/assets/images/content/directions-rewind.png"
                            alt="Перемотка промышленного оборудования"
                            width="528"
                            height="213"
                        />
                    </a>
                    <img
                        class="watermark"
                        src="/assets/images/content/stator-watermark.svg"
                        alt=""
                        width="527"
                        height="108"
                        aria-hidden="true"
                    />
                </div>
                <h3 class="name"><a href="/uslugi/">Перемотка</a></h3>
                <p class="caption">промышленного оборудования</p>
                <div class="tags">
                    <a href="/uslugi/">Электродвигатели</a>
                    <a href="/nashi-raboty/peremotka-alternatora/">Альтернаторы</a>
                    <a href="/uslugi/">Бензогенераторы</a>
                    <a href="/uslugi/">Трансформаторы</a>
                    <a href="/uslugi/">Катушки</a>
                </div>
            </article>

            <article class="card">
                <div class="visual">
                    <a class="image" href="/uslugi/">
                        <img
                            class="lazy"
                            data-src="/assets/images/content/directions-balance.png"
                            alt="Балансировка промышленного оборудования"
                            width="528"
                            height="213"
                        />
                    </a>
                    <img
                        class="watermark"
                        src="/assets/images/content/stator-watermark.svg"
                        alt=""
                        width="527"
                        height="108"
                        aria-hidden="true"
                    />
                </div>
                <h3 class="name"><a href="/uslugi/">Балансировка</a></h3>
                <p class="caption">промышленного оборудования</p>
                <div class="tags">
                    <a href="/uslugi/">Роторы</a>
                    <a href="/uslugi/">Якоря</a>
                    <a href="/uslugi/">Муфты</a>
                    <a href="/uslugi/">Промышленные вентиляторы</a>
                </div>
            </article>
        </div>
    </div>
</section>
