<section class="service-intro">
    <div class="container">
        <div class="layout" data-aos="fade-up">
            <h2 class="title">Компания «Статор-Сервис»</h2>
            <p class="text">
                предлагает высококачественный ремонт и перемотку электродвигателей в Санкт-Петербурге. Наша команда
                профессионалов имеет многолетний опыт работы с электродвигателями различных марок и моделей, и мы
                гарантируем надежность и долгий срок службы отремонтированных устройств.
            </p>
        </div>
    </div>
</section>
