<!-- components/common/popup-feedback-success/popup-feedback-success.njk -->
<div id="popup-feedback-success" class="popup-feedback-success">
    <div class="block">
        <div class="heading">
            <div class="icon">
                <img src="assets/images/content/check.png" alt="Спасибо за обращение" width="64" height="64" />
            </div>
            <div class="title">Спасибо! Заявка отправлена</div>
            <div class="text">Мы свяжемся с вами в ближайшее время</div>
        </div>
    </div>
</div>