{% set meta = { title: "Цены | Статор-Сервис" } %}
{% set page = { heading: true } %}
{% set breadcrumbs = {
    items: [
        { title: "Главная", url: "/" },
        { title: "Цены" }
    ]
} %}
{% set title = { text: "Цены", tag: "h1", class: "title" } %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% include "blocks/common/catalog-form/catalog-form.njk" %}
{% endblock %}
