{# blocks/common/error-404/error-404.njk #}

<section class="error-404 section">
    <div class="container">
        <div class="block">
            <div class="error-404__image">
                <img class="lazy" data-src="/assets/images/system/error-404.png" alt="404" />
            </div>

            <!-- Контент -->
            <div class="box">
                <h1 class="title">Страница не найдена</h1>
                <p class="text">Перейдите на главную или посмотрите наши услуги</p>
                <div class="actions">
                    <a href="/home.html" class="button outline">На главную</a>
                    <a href="/uslugi/" class="button red">Все услуги</a>
                </div>
            </div>
        </div>
    </div>
</section>