<section class="benefits section">
    <div class="container">
        <div class="benefits__grid">
            <!-- Левая колонка -->
            <div class="benefits__left">
                <h2 class="benefits__title">Почему выбирают нас?</h2>
                <p class="benefits__text">
                    Оптимальные решения для бизнеса:<br />
                    <span class="benefits__highlight"
                        >электродвигатели дешевле, чем на заводе, с официальной гарантией.</span>
                </p>
            </div>

            <!-- Правая колонка -->
            <div class="benefits__right">
                <!-- Блоки преимуществ -->
                <div class="benefits__items">
                    <div class="benefits__item">
                        <div class="benefits__item-icon">
                            <img class="lazy" src="/assets/images/content/benefits-1.png" alt="Иконка" />
                        </div>
                        <h3 class="benefits__item-title">Продукция российских и белорусских заводов</h3>
                        <p class="benefits__item-text">
                            Гарантируем надежность, доступные цены и индивидуальный подход к каждому клиенту
                        </p>
                    </div>
                    <div class="benefits__item">
                        <div class="benefits__item-icon">
                            <img class="lazy" src="/assets/images/content/benefits-2.png" alt="Иконка" />
                        </div>
                        <h3 class="benefits__item-title">Гарантия 3 года</h3>
                        <p class="benefits__item-text">
                            Даём официальную гарантию 3 года на всю продукцию — покупайте с уверенностью
                        </p>
                    </div>
                    <div class="benefits__item">
                        <div class="benefits__item-icon">
                            <img class="lazy" src="/assets/images/content/benefits-3.png" alt="Иконка" />
                        </div>
                        <h3 class="benefits__item-title">
                            У нас выгоднее,<br />
                            чем на заводе
                        </h3>
                        <p class="benefits__item-text">
                            Прямые поставки позволяют редлагать лучшие условия, дешевле, чем при покупке напрямую у
                            производителя
                        </p>
                    </div>
                    <div class="benefits__item">
                        <div class="benefits__item-icon">
                            <img class="lazy" src="/assets/images/content/benefits-4.png" alt="Иконка" />
                        </div>
                        <h3 class="benefits__item-title">Товар со склада</h3>
                        <p class="benefits__item-text">
                            Получайте заказ быстро, без долгого ожидания. Доставка в кратчайшие сроки, так как нужные
                            модели уже ждут вас на нашем складе
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Статистика -->
        <div class="benefits__stats">
            <div class="benefits__stat">
                <span class="benefits__stat-number">>10 лет</span>
                <span class="benefits__stat-text">на российском рынке</span>
            </div>
            <div class="benefits__stat">
                <span class="benefits__stat-number">>100</span>
                <span class="benefits__stat-text">моделей на складе</span>
            </div>
            <div class="benefits__stat">
                <span class="benefits__stat-number">2 дня</span>
                <span class="benefits__stat-text">доставка до двери</span>
            </div>
        </div>
    </div>
</section>