<div class="contacts-mobile">
    <div class="item city">
        <img src="/assets/images/system/icon-pin.svg" alt="" width="20" height="24" />
        <span>Санкт-Петербург, Шафировский проспект 22к5с1</span>
    </div>
    <a class="item email" href="mailto:Sts-Spb2024@mail.ru">
        <img src="/assets/images/system/icon-mail.svg" alt="" width="20" height="15" />
        <span>Sts-Spb2024@mail.ru</span>
    </a>
    <a class="item phones" href="tel:+79117453535">
        <img src="/assets/images/system/icon-phone.svg" alt="" width="20" height="21" />
        <span>+7 (911) 745-35-35</span>
    </a>
    <a class="item phones" href="tel:+79218454400">
        <img src="/assets/images/system/icon-phone.svg" alt="" width="20" height="21" />
        <span>+7 (921) 845-44-00</span>
    </a>
</div>
