{# components/general/gallery-slider/gallery-slider.njk #}

{#
  Макрос для слайдера с миниатюрами
  Использование:
  {{ gallerySlider(images, id, thumbSlides, mainSlides) }}

  Параметры:
  - images: массив объектов { src: string, alt: string }
  - id: строка, уникальный идентификатор (по умолчанию "")
  - thumbSlides: число слайдов в миниатюрах на десктопе (по умолчанию 4)
#}

{% macro render(images, id = "", thumbSlides = 4) %}
    {% set uid = id if id else ("gallery-" + (range(10000, 99999) | random | string)) %}
    <div class="gallery-slider" data-gallery-slider id="{{ uid }}">
        <!-- Главный слайдер -->
        <div class="gallery-slider__main swiper">
            <div class="swiper-wrapper">
                {% for image in images %}
                    <div class="swiper-slide">
                        <div class="gallery-slider__main-image">
                            <img class="lazy" data-src="{{ image.src }}" alt="{{ image.alt }}" />
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Миниатюры -->
        <div class="gallery-slider__thumb-wrapper">
            <div class="gallery-slider__thumb swiper">
                <div class="swiper-wrapper">
                    {% for image in images %}
                        <div class="swiper-slide">
                            <div class="gallery-slider__thumb-image">
                                <img class="lazy" data-src="{{ image.src }}" alt="{{ image.alt }}" />
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Стрелки навигации -->
            <div class="swiper-button-prev gallery-slider__prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="21" viewBox="0 0 12 21" fill="none">
                    <path d="M11.0839 0.707031L1.41422 10.377L11.0839 20.0466" stroke="#808080" stroke-width="2" />
                </svg>
            </div>
            <div class="swiper-button-next gallery-slider__next">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="21" viewBox="0 0 12 21" fill="none">
                    <path d="M11.0839 0.707031L1.41422 10.377L11.0839 20.0466" stroke="#808080" stroke-width="2" />
                </svg>
            </div>
        </div>
    </div>
{% endmacro %}