{% set meta = { title: "Блог и новости | Статор-Сервис" } %}
{% set page = { breadcrumbs: false, heading: false } %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% include "blocks/common/blog-list/blog-list.njk" %}
    {% set formSuffix = "-bottom" %}
    {% include "blocks/common/main-form/main-form.njk" %}
{% endblock %}