@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/NotoSans-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/NotoSans-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../assets/fonts/NotoSans-SemiBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/NotoSans-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../assets/fonts/NotoSans-Italic.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: Tektur;
    font-style: normal;
    font-weight: 400 900;
    src: url("../assets/fonts/Tektur.ttf") format("truetype");
    font-display: swap;
}
