@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

:root {
    // --------------------------------------
    // -- Brand Colors
    // --------------------------------------
    --color-white: #fff;
    --color-light-grey: #d9d9d9;
    --txt-dark: #161616;
    --txt-light-dark: #383838;
    --txt-secondary: #fff7f2;
    --brand-dark-orange: #d64212;
    --btn-grey: #a8a8a8;
    --hradient-red-orange: #a70000;
    --color-sky: #3d8bfd;
    --color-blue: #064aa7;

    // --------------------------------------
    // -- Fonts
    // --------------------------------------
    --font-family-primary:
        "Noto Sans", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif;
    --font-family-headings: "Tektur", "Noto Sans", sans-serif;
    --font-family-heading: var(--font-family-headings);
    --font-family-accent: var(--font-family-primary);
    --font-family-unna: var(--font-family-primary);
    --font-family-secondary: var(--font-family-primary);

    // --------------------------------------
    // -- Font Weights
    // --------------------------------------
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    // --------------------------------------
    // -- Sizes
    // --------------------------------------
    --container-width: 1720px;
    --container-padding: 60px;
    --container-max-width: calc(var(--container-width) + var(--container-padding) * 2);
    --header-height: 112px;
    --section-padding-top: 80px;
    --section-padding-bottom: 80px;

    @include bp.mq(desktop-m) {
        --header-height: 119px;
    }

    @include bp.mq(laptop-m) {
        --container-width: 1263px;
    }

    @include bp.mq(laptop) {
        --container-width: 1163px;
    }

    @include bp.mq(tablet-xl) {
        --header-height: 110px;
        --container-width: 100%;
        --container-padding: 40px;
        --container-max-width: 100%;
    }

    @include bp.mq(tablet) {
        --container-padding: 16px;
        --header-height: 106px;
    }
}
