{% from "components/general/button/button.njk" import render as button %}
{% from "components/general/breadcrumbs/breadcrumbs.njk" import render as breadcrumbs %}

<section class="service-hero">
    <div class="media">
        <picture>
            <source media="(max-width: 597.98px)" srcset="/assets/images/content/service-hero-mobile.png" />
            <source media="(max-width: 1023.98px)" srcset="/assets/images/content/service-hero-tablet.png" />
            <source media="(max-width: 1439.98px)" srcset="/assets/images/content/service-hero-laptop.png" />
            <img
                class="lazy"
                src="/assets/images/content/service-hero.png"
                data-src="/assets/images/content/service-hero.png"
                alt="Ремонт электродвигателей"
                width="1920"
                height="477"
            />
        </picture>
    </div>
    <div class="shade" aria-hidden="true"></div>
    <div class="container">
        {{ breadcrumbs(
            items=[
                { title: "Главная", url: "/home.html" },
                { title: "Ремонт электродвигателей" }
            ],
            separator="line",
            size="sm",
            class="light"
        ) }}
        <div class="content" data-aos="fade-up">
            <h1 class="title">Ремонт электродвигателей<br />в&nbsp;Санкт-Петербурге</h1>
            {{ button(
                text="Отправить заявку на просчет",
                type="button",
                variant="red",
                data={"src": "popup-callback"}
            ) }}
        </div>
    </div>
</section>