<div class="contacts-header">
    <div class="item city">
        <img src="/assets/images/system/icon-pin.svg" alt="" width="20" height="24" />
        <span>Санкт-Петербург, Шафировский пр. 22к5с1</span>
    </div>
    <a class="item email" href="mailto:Sts-Spb2024@mail.ru">
        <img src="/assets/images/system/icon-mail.svg" alt="" width="20" height="15" />
        <span>Sts-Spb2024@mail.ru</span>
    </a>
    <div class="item phones">
        <a href="tel:+79218454400">
            <img src="/assets/images/system/icon-phone.svg" alt="" width="20" height="21" />
            <span>+7 (921) 845-44-00</span>
        </a>
        <a class="phones-extra" href="tel:+79117453535">
            <img src="/assets/images/system/icon-phone.svg" alt="" width="20" height="21" />
            <span>+7 (911) 745-35-35</span>
        </a>
        <button class="phones-toggle" type="button" aria-expanded="false" aria-label="Другие телефоны">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="12" viewBox="0 0 21 12" fill="none">
                <path d="M0.707031 0.707031L10.207 10.207L19.707 0.707031" stroke="currentColor" stroke-width="2" />
            </svg>
        </button>
        <div class="phones-dropdown">
            <a href="tel:+79117453535">+7 (911) 745-35-35</a>
        </div>
    </div>
</div>
