@use "core/breakpoints" as bp;

.button {
    --button-height: 63px;
    --button-padding: 20px;
    --button-gap: 1px;
    --button-width: auto;
    --button-font-size: 18px;
    --button-bg: var(--brand-dark-orange);
    --button-color: var(--color-white);
    --button-border-color: var(--brand-dark-orange);

    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    gap: var(--button-gap);
    align-items: center;
    justify-content: center;
    width: var(--button-width);
    height: var(--button-height);
    padding: var(--button-padding);
    font-family: var(--font-family-primary);
    font-size: var(--button-font-size);
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    color: var(--button-color);
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    background: var(--button-bg);
    border: 2px solid var(--button-border-color);
    border-radius: 12px;
    outline: none;
    transition:
        color 0.3s ease,
        background-color 0.3s ease,
        border-color 0.3s ease;

    &:hover:not(:disabled, .disabled) {
        text-decoration: none;
    }

    &:focus-visible {
        outline: 2px solid var(--brand-dark-orange);
        outline-offset: 3px;
    }

    &:disabled,
    &.disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.6;
    }

    // --------------------------------------
    // 1. Оранжевая
    // --------------------------------------
    &.primary,
    &.red {
        --button-bg: var(--brand-dark-orange);
        --button-color: var(--color-white);
        --button-border-color: var(--brand-dark-orange);

        &:hover:not(:disabled, .disabled) {
            --button-bg: var(--color-white);
            --button-color: var(--brand-dark-orange);
            --button-border-color: var(--brand-dark-orange);
        }
    }

    // --------------------------------------
    // 2. Белая
    // --------------------------------------
    &.secondary,
    &.white,
    &.black,
    &.outline {
        --button-width: 366px;
        --button-gap: 9px;
        --button-bg: var(--color-white);
        --button-color: var(--txt-dark);
        --button-border-color: var(--color-white);

        &:hover:not(:disabled, .disabled) {
            --button-bg: var(--brand-dark-orange);
            --button-color: var(--color-white);
            --button-border-color: var(--brand-dark-orange);
        }
    }

    @include bp.mq(tablet) {
        --button-width: 100%;
        --button-height: 50px;
        --button-padding: 20px 60px;
        --button-gap: 1px;
        --button-font-size: 16px;

        align-self: stretch;
        width: 100%;
    }
}
