{% set meta = { title: "Контакты | Статор-Сервис" } %}
{% set page = { breadcrumbs: false, heading: false, after_content: false } %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% include "blocks/common/contacts-hero/contacts-hero.njk" %}
    {% include "blocks/common/main-form/main-form.njk" %}
{% endblock %}