{% set meta = { title: "Политика конфиденциальности | Статор-Сервис" } %}
{% set page = { breadcrumbs: false, heading: false } %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% include "blocks/common/privacy-policy/privacy-policy.njk" %}
{% endblock %}