{% set meta = { title: "Политика обработки персональных данных | Статор-Сервис" } %}
{% set page = { breadcrumbs: false, heading: false } %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% include "blocks/general/page-in-dev/page-in-dev.njk" %}
{% endblock %}
