<section class="service-specialization">
    <div class="container">
        <div class="layout">
            <div class="content" data-aos="fade-right">
                <div class="intro">
                    <h2 class="title">Специализация,<br />которая имеет значение</h2>
                    <p class="lead">Мы ремонтируем не «двигатели вообще», а конкретные агрегаты для:</p>
                </div>
                <ul class="list">
                    <li>
                        <span class="label">Промышленного оборудования:</span>
                        <span class="desc">станки, прессы, конвейеры, дробилки;</span>
                    </li>
                    <li>
                        <span class="label">Инженерных систем:</span>
                        <span class="desc">насосы, вентиляторы, дымососы, компрессоры;</span>
                    </li>
                    <li>
                        <span class="label">Подъёмно-транспортного оборудования:</span>
                        <span class="desc">крановые двигатели, лифтовые лебёдки;</span>
                    </li>
                    <li>
                        <span class="label">Судового и специального оборудования:</span>
                        <span class="desc">двигатели с особыми требованиями к климатическому исполнению.</span>
                    </li>
                </ul>
            </div>
            <div class="media" data-aos="fade-left">
                <img
                    class="lazy"
                    src="/assets/images/content/service-specialization.png"
                    data-src="/assets/images/content/service-specialization.png"
                    alt="Цех ремонта Статор-Сервис"
                    width="970"
                    height="453"
                />
            </div>
        </div>
    </div>
</section>
