<section class="service-specialization">
    <div class="container">
        <div class="layout">
            <div class="content" data-aos="fade-right">
                <div class="intro">
                    <h2 class="title">Специализация,<br />которая имеет значение</h2>
                    <p class="lead">Мы ремонтируем не «двигатели вообще», а конкретные агрегаты для:</p>
                </div>
                <ul>
                    <li>
                        <b>Промышленного оборудования:</b><br />
                        станки, прессы, конвейеры, дробилки;
                    </li>
                    <li>
                        <b>Инженерных систем:</b><br />
                        насосы, вентиляторы, дымососы, компрессоры;
                    </li>
                    <li>
                        <b>Подъёмно-транспортного оборудования:</b><br />
                        крановые двигатели, лифтовые лебёдки;
                    </li>
                    <li>
                        <b>Судового и специального оборудования:</b><br />
                        двигатели с особыми требованиями к климатическому исполнению.
                    </li>
                </ul>
            </div>
            <div class="media" data-aos="fade-left">
                <img
                    class="lazy"
                    src="/assets/images/content/service-specialization.png"
                    data-src="/assets/images/content/service-specialization.png"
                    alt="Цех ремонта Статор-Сервис"
                    width="970"
                    height="453"
                />
            </div>
        </div>
    </div>
</section>