<section class="about-intro">
    <div class="container">
        <div class="content">
            <h2 class="title">
                Ремонт промышленного оборудования в СПб: надежность, опыт и профессиональный сервис
            </h2>
            <p class="text">
                Производственные процессы в любой отрасли зависят от бесперебойной работы техники. Выход из строя даже одного узла может привести к простою целого предприятия, срыву сроков и финансовым потерям. Именно поэтому своевременное обслуживание и качественный ремонт промышленного оборудования становятся критически важными задачами для каждого производства. Компания «Статор-Сервис» в Санкт-Петербурге предлагает полный спектр услуг по восстановлению работоспособности самых разных видов техники — от электродвигателей и генераторов до насосов и вентиляторов. Наш опыт, техническая оснащенность и ответственный подход позволяют решать задачи любой сложности, возвращая оборудованию его первоначальные характеристики и продлевая срок службы.
            </p>
        </div>
    </div>
    <div class="visual">
        <picture>
            <source media="(max-width: 597.98px)" srcset="/assets/images/content/about-intro-mobile.png" />
            <source media="(max-width: 1439.98px)" srcset="/assets/images/content/about-intro-laptop.png" />
            <img
                class="lazy"
                data-src="/assets/images/content/about-intro.jpg"
                alt="Ремонт электродвигателей и промышленного оборудования"
                width="593"
                height="827"
            />
        </picture>
    </div>
</section>
