{% set meta = { title: "Ремонт промышленного оборудования в СПб | Статор-Сервис" } %}
{% set page = { breadcrumbs: false, heading: false } %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% include "blocks/common/hero/hero.njk" %}
    {% include "blocks/common/catalog-short/catalog-short.njk" %}
    {% include "blocks/common/benefits/benefits.njk" %}
    {% include "blocks/common/main-form/main-form.njk" %}
{% endblock %}