<section class="catalog-short section {{ catalogAdditionalClass if catalogAdditionalClass else '' }}">
    <div class="container">
        <div class="catalog-short__grid">
            <a href="/uslugi/remont-elektrodvigateley/" class="catalog-short__item">
                <div class="catalog-short__image">
                    <img class="lazy" src="/assets/images/content/hero-img-3.png" alt="Ремонт электродвигателей" />
                </div>
                <h2 class="catalog-short__title">Ремонт электродвигателей</h2>
                <span class="button red">
                    <span>Подробнее</span>
                </span>
            </a>

            <a href="/uslugi/remont-elektrodvigateley/" class="catalog-short__item">
                <div class="catalog-short__image">
                    <img class="lazy" src="/assets/images/content/hero-img-2.png" alt="Перемотка электродвигателей" />
                </div>
                <h2 class="catalog-short__title">Перемотка электродвигателей</h2>
                <span class="button red">
                    <span>Подробнее</span>
                </span>
            </a>

            <a href="/uslugi/remont-elektrodvigateley/" class="catalog-short__item">
                <div class="catalog-short__image">
                    <img class="lazy" src="/assets/images/content/hero-img.png" alt="Перемотка альтернатора" />
                </div>
                <h2 class="catalog-short__title">Перемотка альтернатора</h2>
                <span class="button red">
                    <span>Подробнее</span>
                </span>
            </a>

            <a href="/uslugi/remont-elektrodvigateley/" class="catalog-short__item">
                <div class="catalog-short__image">
                    <img class="lazy" src="/assets/images/content/hero-img-3.png" alt="Ремонт промышленных вентиляторов" />
                </div>
                <h2 class="catalog-short__title">Ремонт промышленных вентиляторов</h2>
                <span class="button red">
                    <span>Подробнее</span>
                </span>
            </a>
        </div>
    </div>
</section>
