<div id="popup-callback" class="popup-callback">
    <div class="block">
        <div class="heading">
            <div class="title">Заказать звонок</div>
            <div class="text">оставьте контакты - мы перезвоним и поможем подобрать оборудование</div>
        </div>
        <div class="frame">
            {% set formIdPrefix = "popup-callback" %}
            {% include "components/general/form/form.njk" %}
        </div>
    </div>
</div>