{% macro render(
        items=[],
        group="",
        variant="pills",
        class=""
    ) %}
    {% set tabsClasses = "tabs " + variant %}
    {% if class %}
        {% set tabsClasses = tabsClasses + " " + class %}
    {% endif %}

    <div
        class="{{ tabsClasses }}"
        {% if group %}data-tabs="{{ group }}"
        {% else %}data-tabs{% endif %}
    >
        {% for item in items %}
            <button
                class="tab{% if item.active %} active{% endif %}"
                type="button"
                {% if item.id %}data-tab="{{ item.id }}"{% endif %}
            >
                {{ item.title }}
            </button>
        {% endfor %}
    </div>
{% endmacro %}