<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content" />
<link rel="icon" href="/assets/favicons/favicon.svg" type="image/svg+xml" />
<link rel="shortcut icon" href="/assets/favicons/favicon.svg" />
<title>{{ meta.title }}</title>