@use "core/breakpoints" as bp;

.footer-address {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__item {
        font-family: var(--font-family-primary);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        color: var(--color-white);
    }
}
