<div class="footer-address">
    <div class="footer-address__item">Пн–Пт 08:00–19:00</div>

    <div class="footer-address__item">
        Санкт-Петербург,<br />Шафировский проспект 22к5с1
    </div>
</div>
