@use "core/breakpoints" as bp;
@use "core/mixins" as mixin;

.footer-address {
    display: flex;
    flex-direction: column;
    gap: 19px;

    &__item {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: var(--color-black);
    }
}
