<div class="contacts-footer">
    <a href="mailto:Sts-Spb2024@mail.ru">
        <span>Sts-Spb2024@mail.ru</span>
    </a>
    <a href="tel:+79218454400">
        <span>+7 (921) 845-44-00</span>
    </a>
    <a href="tel:+79117453535">
        <span>+7 (911) 745-35-35</span>
    </a>
</div>
