{# blocks/common/partners-short/partners-short.njk #}
<section class="partners-short section">
    <div class="container">
        <div class="partners-short__top">
            <h2 class="partners-short__title">Партнеры</h2>
            <p class="partners-short__subtitle">Работаем только с проверенными временем производителями.</p>
        </div>

        <div class="partners-short__grid">
            <!-- Партнер 1 -->
            <div class="partners-short__item">
                <img class="lazy" data-src="/assets/images/content/partner-1.png" alt="Партнер 1" />
            </div>
            <!-- Партнер 2 -->
            <div class="partners-short__item">
                <img class="lazy" data-src="/assets/images/content/partner-2.png" alt="Партнер 2" />
            </div>
            <!-- Партнер 3 -->
            <div class="partners-short__item">
                <img class="lazy" data-src="/assets/images/content/partner-3.png" alt="Партнер 3" />
            </div>
            <!-- Партнер 4 -->
            <div class="partners-short__item">
                <img class="lazy" data-src="/assets/images/content/partner-1.png" alt="Партнер 4" />
            </div>
        </div>
    </div>
</section>