{% set meta = { title: "Перемотка альтернатора | Статор-Сервис" } %}
{% set page = { breadcrumbs: false, heading: false, after_content: false } %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% include "blocks/common/work-detail/work-detail.njk" %}
    {% include "blocks/common/our-works/our-works.njk" %}
    {% include "blocks/common/other-services/other-services.njk" %}
    {% include "blocks/common/faq-home/faq-home.njk" %}
    {% set formSuffix = "-bottom" %}
    {% include "blocks/common/main-form/main-form.njk" %}
{% endblock %}