{# blocks/common/about-content/about-content.njk #}
<section class="about-content section bg">
    <!-- Верхний блок: картинка + текст (на всю ширину) -->
    <div class="about-content__top">
        <div class="about-content__bg">
            <img class="lazy" src="/assets/images/content/about-bg.svg" alt="" />
        </div>
        <div class="container">
            <div class="about-content__top-inner">
                <div class="about-content__image">
                    <img class="lazy" data-src="/assets/images/content/about-img.jpg" alt="О нас" />
                </div>
                <div class="about-content__text-wrap">
                    <div class="about-content__text-block">
                        <p>
                            <b
                                >С каждым годом компания уверенно продвигалась вперед, совершенствуя производственные
                                процессы и расширяя ассортимент. Успешное внедрение новых серий электрических двигателей
                                было встречено на рынке с большим интересом. Наблюдая за растущим спросом на свою
                                продукцию, руководство приняло решение инвестировать в новые производственные мощности,
                                что позволило значительно увеличить объемы производства и улучшить качество..</b>
                        </p>
                        <p>
                            Рыба текс. Первоначально новая компания столкнулась с множеством трудностей. Нехватка опыта,
                            устаревшее оборудование и экономическая нестабильность того времени ставили под сомнение
                            будущее предприятия. Тем не менее, команда проявила упорство. Они начали с разработки
                            собственных технологий производства, вложив в это все свои силы и знания. Важным шагом стало
                            сотрудничество с зарубежными партнерами, что позволило перенять передовые методы и
                            технологии, а также наладить каналы поставок качественных комплектующих.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Нижний блок: текст + слайдер -->
    <div class="about-content__bottom">
        <div class="container">
            <div class="about-content__bottom-inner">
                <div class="about-content__text-wrap about-content__text-wrap--fixed">
                    <div class="about-content__text-block">
                        <p>
                            Рыба текс. В начале 90-х годов XX века в одной из крупных промышленных республик бывшего
                            Советского Союза зародилась идея создать компанию, специализирующуюся на производстве и
                            продаже электродвигателей. Молодые инженеры, полные энтузиазма и желания внести свой вклад в
                            развитие страны, объединились для реализации этой амбициозной идеи. Они понимали, что
                            качественные электродвигатели — важная составляющая всей промышленности, от легкой до
                            тяжелой.
                        </p>
                        <p>
                            Рыба текс. Первоначально новая компания столкнулась с множеством трудностей. Нехватка опыта,
                            устаревшее оборудование и экономическая нестабильность того времени ставили под сомнение
                            будущее предприятия. Тем не менее, команда проявила упорство. Они начали с разработки
                            собственных технологий производства, вложив в это все свои силы и знания. Важным шагом стало
                            сотрудничество с зарубежными партнерами, что позволило перенять передовые методы и
                            технологии, а также наладить каналы поставок качественных комплектующих.
                        </p>
                    </div>
                </div>
                <div class="about-content__slider">
                    {% from "components/general/gallery-slider/gallery-slider.njk" import render as gallerySlider %}
                    {{ gallerySlider(
                        images=[
                            { src: "/assets/images/content/gallery-slider1.jpg", alt: "О нас 1" },
                            { src: "/assets/images/content/gallery-slider1.jpg", alt: "О нас 2" },
                            { src: "/assets/images/content/gallery-slider1.jpg", alt: "О нас 3" },
                            { src: "/assets/images/content/gallery-slider1.jpg", alt: "О нас 4" },
                            { src: "/assets/images/content/gallery-slider1.jpg", alt: "О нас 5" }
                        ],
                        thumbSlides=4
                    ) }}
                </div>
            </div>
        </div>
    </div>
</section>