{# blocks/common/similar-products/similar-products.njk #}
<section class="similar-products">
    <div class="container">
        <h2 class="similar-products__title">Похожие услуги</h2>

        <div class="similar-products__slider-wrapper">
            <div class="similar-products__slider swiper">
                <div class="swiper-wrapper">
                    <!-- Слайд 1 -->
                    <div class="swiper-slide">
                        <a href="/uslugi/remont-elektrodvigateley/" class="similar-products__card-link">
                            <div class="similar-products__card">
                                <div class="similar-products__card-image">
                                    <img class="lazy" data-src="/assets/images/content/product-main.jpg" alt="Товар" />
                                </div>
                                <div class="similar-products__card-info">
                                    <h3 class="similar-products__card-title">
                                        Эл.двигатель 5АИ 112 М4 GU 5.5/1500 IM 1081
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Слайд 2 -->
                    <div class="swiper-slide">
                        <a href="/uslugi/remont-elektrodvigateley/" class="similar-products__card-link">
                            <div class="similar-products__card">
                                <div class="similar-products__card-image">
                                    <img class="lazy" data-src="/assets/images/content/hero-img-3.png" alt="Товар" />
                                </div>
                                <div class="similar-products__card-info">
                                    <h3 class="similar-products__card-title">
                                        Эл.двигатель 5АИ 112 М4 GU 7.5/1500 IM 1081
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Слайд 3 -->
                    <div class="swiper-slide">
                        <a href="/uslugi/remont-elektrodvigateley/" class="similar-products__card-link">
                            <div class="similar-products__card">
                                <div class="similar-products__card-image">
                                    <img class="lazy" data-src="/assets/images/content/product-main.jpg" alt="Товар" />
                                </div>
                                <div class="similar-products__card-info">
                                    <h3 class="similar-products__card-title">
                                        Эл.двигатель 5АИ 112 М4 GU 11/1500 IM 1081
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Слайд 4 -->
                    <div class="swiper-slide">
                        <a href="/uslugi/remont-elektrodvigateley/" class="similar-products__card-link">
                            <div class="similar-products__card">
                                <div class="similar-products__card-image">
                                    <img class="lazy" data-src="/assets/images/content/hero-img-3.png" alt="Товар" />
                                </div>
                                <div class="similar-products__card-info">
                                    <h3 class="similar-products__card-title">
                                        Эл.двигатель 5АИ 112 М4 GU 15/1500 IM 1081
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Слайд 5 -->
                    <div class="swiper-slide">
                        <a href="/uslugi/remont-elektrodvigateley/" class="similar-products__card-link">
                            <div class="similar-products__card">
                                <div class="similar-products__card-image">
                                    <img class="lazy" data-src="/assets/images/content/product-main.jpg" alt="Товар" />
                                </div>
                                <div class="similar-products__card-info">
                                    <h3 class="similar-products__card-title">
                                        Эл.двигатель 5АИ 112 М4 GU 18.5/1500 IM 1081
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Стрелки навигации -->
            <div class="swiper-button-prev similar-products__prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="39" height="71" viewBox="0 0 39 71" fill="none">
                    <path
                        d="M36.3016 2.5L3.53553 35.2661L36.3016 68.0322"
                        stroke="#808080"
                        stroke-width="5"
                        stroke-linecap="round"
                    />
                </svg>
            </div>
            <div class="swiper-button-next similar-products__next">
                <svg xmlns="http://www.w3.org/2000/svg" width="39" height="71" viewBox="0 0 39 71" fill="none">
                    <path
                        d="M2.5 2.5L35.2661 35.2661L2.5 68.0322"
                        stroke="#808080"
                        stroke-width="5"
                        stroke-linecap="round"
                    />
                </svg>
            </div>
        </div>
    </div>
</section>